version: "3.8"

services:

  # ==========================================
  # SCHEDULER
  # ==========================================
  ofelia:
    image: mcuadros/ofelia:latest
    container_name: ofelia
    network_mode: none
    command: daemon --config=/etc/ofelia/config.toml
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./ofelia.toml:/etc/ofelia/config.toml:ro
    restart: unless-stopped
  # ==========================================
  # EDGE LAYER
  # ==========================================
  traefik:
    image: traefik:v2.10
    container_name: traefik
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "8080:80"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - edge_net
      - app_net
    restart: unless-stopped

  dashboard:
    image: notifyr:dashboard
    container_name: dashboard
    # labels:
    #   - "traefik.enable=true"
    #   - "traefik.http.routers.dashboard.rule=Host(`dashboard.localhost`)"
    networks:
      - edge_net
    secrets:
      - source: dashboard_api_key
        target: /run/secrets/dashboard_api_key

  dmz:
    image: notifyr:dmz
    # labels:
    #   - "traefik.enable=true"
    #   - "traefik.http.routers.dmz.rule=Host(`dmz.localhost`)"
    networks:
      - edge_net
      - data_net
      - vault_net
    secrets:
      - source: dmz_api_key
        target: /run/secrets/dmz_api_key
      - source: dmz_role_id
        target: /run/secrets/dmz_role_id
  
  # ==========================================
  # LOAD BALANCER LAYER
  # ==========================================
  balancer:
    image: notifyr:balancer
    restart: unless-stopped
    build:
      context: .
      dockerfile: docker/Dockerfile.balancer
    volumes:
      - ./.notifyr/deploy.json:/var/deploy.json:ro
    environment:
      - ADDR=0.0.0.0:8080
      - DEPLOY_FILE_PATH=/var/deploy.json
      - NOTIFYR_PORT=8088
    networks:
      - lb_net
      - app_net

  # ==========================================
  # CREDIT LAYER
  # ==========================================
  credit:
    image: notifyr:credit
    container_name: credit
    command: ["tail", "-f" ,"/dev/null"]
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./docker/Dockerfile.credit
    networks:
      - data_net
      - vault_net
    environment:
      - VAULT_ADDR=http://vault:8200
      - REDIS_HOST=${REDIS_HOST:-redis}
    secrets:
      - source: costs
        target: /run/secrets/costs.json
      - source: credit_token
        target: /run/secrets/credit_token.txt

  # ==========================================
  # APP LAYER
  # ==========================================
  app:
    image: notifyr:fastapi
    labels:
      - "com.docker.compose.service=app"
      - "traefik.enable=true"
      # Set up a router for the FastAPI app service
      - "traefik.http.routers.app-router.rule=Host(`api.mydomain.com`)"
      - "traefik.http.routers.app-router.entrypoint=web"
      # CRITICAL: Tell Traefik to use the app_net to talk to this service
      - "traefik.docker.network=app_net"
      # Tell Traefik what port the service is listening on internally
      - "traefik.http.services.app-router.loadbalancer.server.port=8088"

    command: ["python", "main.py", "-H=0.0.0.0", "-p=8088", "-t=solo"]
    restart: unless-stopped
    secrets:
      # PRESERVED: Custom target paths
      - source: app_role_id
        target: /run/secrets/app-role_id.txt
      - source: app_role_id
        target: /run/secrets/api_key.txt
      - source: costs
        target: /run/secrets/costs.json
    volumes:
      - vault-shared:/vault/shared:ro
    build:
      context: ./
      dockerfile: Dockerfile
    environment:
      - MODE=prod
    env_file:
      - .env
    networks:
      - app_net
      - data_net
      - vault_net

  # ==========================================
  # WORKER LAYER
  # ==========================================
  worker:
    image: notifyr:celery
    command: ["./spawn_celery_worker.sh", "1", "false"]
    secrets:
      - source: app_role_id
        target: /run/secrets/app-role_id.txt
      - source: costs
        target: /run/secrets/costs.json
    volumes:
      - vault-shared:/vault/shared
    restart: always
    environment:
      - MODE=prod
    env_file:
      - .env
    networks:
      - data_net
      - vault_net

  beat:
    image: notifyr:celery
    command: ["make", "redbeat"]
    container_name: beat
    secrets:
      - source: app_role_id
        target: /run/secrets/app-role_id.txt
    volumes:
      - vault-shared:/vault/shared
    labels:
      - com.docker.compose.service=beat
    build:
      context: .
      dockerfile: docker/Dockerfile.celery
    restart: unless-stopped
    environment:
      - MODE=prod
    env_file:
      - .env
    networks:
      - data_net
      - vault_net

  # ==========================================
  # SECURITY LAYER
  # ==========================================
  vault:
    image: notifyr:vault
    user: vaultuser
    restart: unless-stopped
    container_name: vault
    entrypoint: ["/sbin/tini", "--","/usr/local/bin/vault-entrypoint.sh"]
    environment:
      VAULT_ADDR: "http://vault:8200"
    secrets:
      - source: unseal_tokens
        target: /run/secrets/unseal_key.json
      - source: rotate_token
        target: /run/secrets/rotate-token.txt
    volumes:
      - type: tmpfs
        target: /run/secrets
      - vault-data:/vault/data
      - vault-shared:/vault/shared
      - vault-audit:/vault/logs
    networks:
      - data_net
      - vault_net

  vault-init:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.vault
    container_name: vault-init
    labels:
      - com.docker.compose.service=vault
    image: notifyr:vault
    cap_add: ["IPC_LOCK"]
    restart: on-failure
    environment:
      VAULT_ADDR: "http://vault:8200"
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      REDIS_ADMIN_PASSWORD: ${REDIS_ADMIN_PASSWORD}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MINIO_VAULT_PASSWORD: ${MINIO_VAULT_PASSWORD}
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
      AWS_VAULT_USER: set_user_in_container_start
      AWS_VAULT_PASSWORD: set_password_in_container_start
    volumes:
      - vault-data:/vault/data
      - vault-shared:/vault/shared
      - vault-audit:/vault/logs
    depends_on:
      - mongodb
      - rabbitmq
      - minio
      - redis
      - memcached
      - postgres
    networks:
      - data_net
      - vault_net

  # ==========================================
  # DATA LAYER
  # ==========================================
  minio:
    image: minio/minio:latest
    container_name: minio
    restart: always
    secrets: 
      - source: minio_root
        target: /run/secrets/config.json
    build:
      args:
        - ASSETS_STORAGE_LIMIT=${ASSETS_STORAGE_LIMIT:-500MB}
        - STATIC_STORAGE_LIMIT=${STATIC_STORAGE_LIMIT:-500MB}
        - S3_MODE=dev
      context: .
      dockerfile: docker/Dockerfile.minio
    volumes:
      - minio-data:/data
    environment:
      - MINIO_VAULT_PASSWORD=${MINIO_VAULT_PASSWORD:-changeme}
      - MINIO_STS_ENABLE=${MINIO_STS_ENABLE}
      - NOTIFY_REDIS_ADDRESS=${REDIS_HOST:-redis}
    depends_on:
      - redis
    networks:
      - data_net

  memcached:
    image: memcached:latest
    container_name: memcached
    command: memcached -m 64 -vv
    restart: unless-stopped
    networks:
      - data_net

  rabbitmq:
    image: rabbitmq:3.13-management-alpine
    container_name: rabbitmq
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER:-notifyr-user}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS:-notifyrpass123}
      RABBITMQ_DEFAULT_VHOST: celery
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - data_net

  redis:
    image: redis:latest
    container_name: redis
    restart: always
    entrypoint: ["/entrypoint.sh"]
    environment:
      - REDIS_ADMIN_PASSWORD=${REDIS_ADMIN_PASSWORD:-vaultpass}
      - DEFAULT_USER=on
      - SKIP_FIX_PERMS=1
    volumes:
      - redis-data:/data
      - ./scripts/redis-entrypoint.sh:/entrypoint.sh
    networks:
      - data_net

  mongodb:
    image: mongo:8.0-noble
    container_name: mongodb
    restart: always
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: notifyr
    networks:
      - data_net

  postgres:
    build:
      context: .
      dockerfile: docker/Dockerfile.postgres
    image: postgres:15
    container_name: postgres
    restart: always
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: notifyr
    networks:
      - data_net

volumes:
  vault-data: {}
  vault-shared: {}
  vault-audit: {}
  mongo-data:
    driver: local
  postgres-data:
    driver: local
  redis-data:
    driver: local
  minio-data: {}
  rabbitmq_data:

secrets:
  app_role_id:
    file: ./.secrets/app-role_id.txt
  minio_root:
    file: ./.secrets/minio-root.json
  dashboard_api_key:
    file: ./.secrets/dashboard-api-key.txt
  dmz_api_key:
    file: ./.secrets/dmz-api-key.txt
  dmz_role_id:
    file: ./.secrets/dmz-role_id.txt
  rotate_token:
    file: ./.secrets/rotate-token.txt
  unseal_tokens:
    file: ./.secrets/unseal_key.json
  costs:
    file: ./.notifyr/costs.json
  api_key:
    file: ./.secrets/api_key.txt
  credit_token:
    file: ./.secrets/credit_token.txt

networks:
  data_net:
    internal: true
    driver: bridge

  vault_net:
    driver: bridge

  celery_net:
    internal: true
    driver: bridge

  app_net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.25.0.0/16
          ip_range: 172.25.10.0/24
          gateway: 172.25.0.1

  lb_net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.26.0.0/16
          ip_range: 172.26.5.0/24
          gateway: 172.26.0.1

  edge_net:
    driver: bridge
