services:

  memcached:
    image: memcached:latest
    container_name: memcached
    ports:
      - "11211:11211"
    command: memcached -m 64 -vv
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq
    ports:
      - "5672:5672"     # AMQP (used by Celery)
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER:-notifyr-user}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS:-notifyrpass123}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  redis:
    image: redis:latest
    container_name: redis
    restart: always
    entrypoint: ["/entrypoint.sh"]
    environment:
      - REDIS_ADMIN_PASSWORD=${REDIS_ADMIN_PASSWORD:-vaultpass}
      - DEFAULT_USER=on
    ports:
      - 6379:6379
    volumes:
      - redis-data:/data
      - ./scripts/redis-entrypoint.sh:/entrypoint.sh

  mongodb:
    image: mongo:8.0-noble
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: notifyr
      
  postgres:
    build:
      context: .
      dockerfile: docker/Dockerfile.postgres
    image: postgres:15
    container_name: postgres
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: notifyr
    
  minio:
    image: minio/minio:latest
    container_name: minio
    restart: unless-stopped
    secrets: 
      - source: minio_root
        target: /run/secrets/config.json
    build:
      args:
        - ASSETS_STORAGE_LIMIT=${ASSETS_STORAGE_LIMIT:-500MB}
        - STATIC_STORAGE_LIMIT=${STATIC_STORAGE_LIMIT:-500MB}
        - S3_MODE=dev
      context: .
      dockerfile: docker/Dockerfile.minio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data
    environment:
      - MINIO_VAULT_PASSWORD=${MINIO_VAULT_PASSWORD:-changeme}
      - MINIO_STS_ENABLE=${MINIO_STS_ENABLE}
      - NOTIFY_REDIS_ADDRESS=${REDIS_HOST:-redis}
    depends_on:
      - redis
    
  vault-init:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.vault
    container_name: vault-init
    labels:
      - com.docker.compose.service=vault
    image: notifyr:vault
    cap_add: ["IPC_LOCK"]
    ports:
      - "8200:8200"
    environment:
      VAULT_ADDR: "http://0.0.0.0:8200"

      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

      REDIS_ADMIN_PASSWORD: ${REDIS_ADMIN_PASSWORD}

      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}

      MINIO_VAULT_PASSWORD: ${MINIO_VAULT_PASSWORD}

      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}

      AWS_VAULT_USER: set_user_in_container_start
      AWS_VAULT_PASSWORD: set_password_in_container_start

      S3_HOST: ${S3_HOST}
      POSTGRES_HOST: ${POSTGRES_HOST}
      MONGO_HOST: ${MONGO_HOST}
      RABBITMQ_HOST: ${RABBITMQ_HOST}
      REDIS_HOST: ${REDIS_HOST}
    volumes:
      - vault-data:/vault/data
      - vault-shared:/vault/shared
      - vault-audit:/vault/logs
    depends_on:
      - mongodb
    
  vault:
    image: notifyr:vault
    user: vaultuser
    entrypoint: ["/sbin/tini", "--","/usr/local/bin/vault-entrypoint.sh"]
    secrets:
      - source: unseal_tokens
        target: /run/secrets/unseal_key.json
      
      - source: rotate_token
        target: /run/secrets/rotate-token.txt

    ports:
      - "8200:8200"
    volumes:
      - vault-data:/vault/data
      - vault-shared:/vault/shared
      - vault-audit:/vault/logs

  app:
    image: notifyr:fastapi
    #container_name: ntfyr-app
    labels:
      - "com.docker.compose.service=app"
    command: ["python", "main.py", "-H=0.0.0.0", "-p=8088", "-t=solo"]
    #command: ['uvicorn', 'main:app', '--workers' ,'${WORKERS_COUNT}','--host','0.0.0.0','--port' ,'8088']

    secrets:
      - source: app_role_id
        target: ./.notifyr/secrets/app-role_id.txt
    ports:
      - 8088:8088
    volumes:
      - ./costs.json:/run/secrets/costs:ro
      - vault-shared:/vault/shared:ro
    build:
      context: ./
      dockerfile: Dockerfile
    environment:
      - MODE=prod
    env_file:
      - .env
    depends_on:
      - redis
      - mongodb

  balancer:
    image: notifyr:balancer
    #container_name: ntfyr-balancer
    build:
      context: .
      dockerfile: docker/Dockerfile.balancer
    environment:
      - ADDR=0.0.0.0:8088
    env_file:
      - ./balancer/.env
    ports:
      - 8080:8080

  worker:
    image: notifyr:celery
    command: ["./spawn_celery_worker.sh", "1", "false"]
    secrets:
      - source: app_role_id
        target: ./.notifyr/secrets/app-role_id.txt
    volumes:
      - vault-shared:/vault/shared
      - ./costs.json:/run/secrets/costs:ro
    restart: always
    environment:
      - MODE=prod
    env_file:
      - .env
    depends_on:
      - redis
      # - beat

  beat:
    image: notifyr:celery
    command: ["make", "redbeat"]
    container_name: beat
    secrets:
      - source: app_role_id
        target: ./.notifyr/secrets/app-role_id.txt
    volumes:
      - vault-shared:/vault/shared
    labels:
      - com.docker.compose.service=beat
    build:
      context: .
      dockerfile: docker/Dockerfile.celery
    restart: always
    environment:
      - MODE=prod
    env_file:
      - .env
    depends_on:
      - redis
      
volumes:
  vault-data: {}
  vault-shared: {} # holds secret_id
  vault-audit: {}

  mongo-data:
    driver: local

  postgres-data:
    driver: local

  redis-data:
    driver: local
  
  minio-data: {}

  rabbitmq_data:

secrets:
  app_role_id:
    file: ./.notifyr/secrets/app-role_id.txt

  minio_root:
    file: ./.notifyr/secrets/minio-root.json

  dashboard_api_key:
    file: ./.notifyr/secrets/dashboard-api-key.txt
  
  dmz_api_key:
    file: ./.notifyr/secrets/dmz-api-key.txt
  
  dmz_role_id:
    file: ./.notifyr/secrets/dmz-role_id.txt
  
  rotate_token:
    file: ./.notifyr/secrets/rotate-token.txt
  
  unseal_tokens:
    file: ./.notifyr/secrets/unseal_key.json


networks:
  notifyr-net:
    driver: bridge