version: "3.8"

services:

  # ==========================================
  # SCHEDULER
  # ==========================================
  ofelia:
    image: mcuadros/ofelia:latest
    build:
      context: .
      dockerfile: ./docker/Dockerfile.ofelia
    container_name: ofelia
    network_mode: none
    command: daemon --config=/etc/ofelia/config.toml
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./ofelia.toml:/etc/ofelia/config.toml:ro
    restart: unless-stopped
  # ==========================================
  # EDGE LAYER
  # ==========================================
  traefik:
    image: traefik:v3.6
    container_name: traefik
    command:
      - "--providers.docker=true"
      - "--providers.docker.network=notifyr_app_net"
      - "--api.insecure=true"
      - --log.level=INFO
      - --providers.docker.exposedbydefault=false
      - "--entrypoints.web.address=:80"
    ports:
      - "${NOTIFYR_IP:-127.0.0.54}:80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - edge_net
      - app_net
    restart: unless-stopped

  dashboard:
    image: notifyr/dashboard:community
    container_name: dashboard
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=Host(`dashboard.notifyr.io`)"
    networks:
      - edge_net
    secrets:
      - source: dashboard_api_key
        target: /run/secrets/dashboard_api_key.txt

  dmz:
    image: notifyr/dmz:community
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dmz.rule=Host(`notifyr.io`)"
    networks:
      - edge_net
      - data_net
      - vault_net
    secrets:
      - source: dmz_api_key
        target: /run/secrets/dmz_api_key.txt
      - source: dmz_role_id
        target: /run/secrets/dmz_role_id.txt
  
  # ==========================================
  # LOAD BALANCER LAYER
  # ==========================================
  balancer:
    image: notifyr/balancer:community
    restart: unless-stopped
    build:
      context: .
      dockerfile: docker/Dockerfile.balancer
    secrets:
      - source: balancer_exchange_token
        target: /run/secrets/balancer-exchange-token.txt
    volumes:
      - ./.notifyr/deploy.json:/var/deploy.json:ro
    environment:
      - ADDR=0.0.0.0:8080
      - DEPLOY_FILE_PATH=/var/deploy.json
      - NOTIFYR_PORT=${NOTIFYR_PORT:-8088}
    networks:
      - lb_net
      - app_net

  # ==========================================
  # CREDIT LAYER
  # ==========================================
  ncs:
    image: notifyr/ncs:community
    container_name: credit-system
    command: ["tail", "-f" ,"/dev/null"]
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./docker/Dockerfile.ncs
    networks:
      - data_net
      - vault_net
    environment:
      - ALLOWED_INIT=off
      - VAULT_ADDR=http://vault:8200      
    secrets:
      - source: costs
        target: /run/secrets/costs.json
      - source: credit_token
        target: /run/secrets/credit_token.txt

  # ==========================================
  # APP LAYER
  # ==========================================
  app:
    image: notifyr/fastapi:community
    labels:
      - "com.docker.compose.service=app"
      - "traefik.enable=true"
      - "traefik.http.routers.app.rule=Host(`api.notifyr.io`)"
      - "traefik.http.routers.app.entrypoints=web"      
      - "traefik.http.services.app.loadbalancer.server.port=${NOTIFYR_PORT:-8088}"

    command: ["python", "main.py", "-H=0.0.0.0", "-p=${NOTIFYR_PORT:-8088}", "-t=solo"]
    restart: unless-stopped
    secrets:
      # PRESERVED: Custom target paths
      - source: app_role_id
        target: /run/secrets/app-role_id.txt
      - source: api_key
        target: /run/secrets/api_key.txt
      - source: costs
        target: /run/secrets/costs.json
      - source: deploy
        target: /run/secrets/deploy.json
    volumes:
      - vault-shared:/vault/shared:ro
      - data-loader:/data-loader/

    build:
      context: ./
      dockerfile: Dockerfile
    environment:
      - MINIO_STS_ENABLE=${MINIO_STS_ENABLE:-false}

      - POSTGRES_HOST=${POSTGRES_HOST-postgres}
      - MONGO_HOST=${MONGO_HOST-mongodb}
      - S3_ENDPOINT=${S3_ENDPOINT-minio:9000}
      - RABBITMQ_HOST=${RABBITMQ_HOST-rabbitmq}
      - REDIS_HOST=${REDIS_HOST-redis}
      - NEO4J_HOST=${NEO4J_HOST-memgraph}

      - MODE=${MODE:-prod}
      - TWILIO_MODE=prod
      - TWILIO_TEST_URL=${TWILIO_TEST_URL}
      - PROD_URL=${PROD_URL}

      - GOOGLE_SAFE_SEARCH_API_KEY=${GOOGLE_SAFE_SEARCH_API_KEY}
      - IPINFO_API_KEY=${IPINFO_API_KEY}

      - USERNAME=${USERNAME}
      - DOMAIN_NAME=${DOMAIN_NAME}
  
      - BROKER_PROVIDER=${BROKER_PROVIDER:-rabbitmq}
      - APS_JOBSTORE=${APS_JOBSTORE}

      - MONGO_REPLICA_NAME=${MONGO_REPLICA_NAME:-nrp}
      - SECURITY_FLAG=${SECURITY_FLAG:-true}
      - INSTALL_DOCLING=${INSTALL_DOCLING:-false}
    networks:
      - app_net
      - data_net
      - vault_net
      - agentic_net

  # ==========================================
  # WORKER LAYER
  # ==========================================
  data:
    image: notifyr/agentic:community 
    container_name: data-loader
    entrypoint: ["arq", "app.data_tasks.WorkerSettings"]
    #command: ["tail", "-f" ,"/dev/null"]
    volumes:
      - vault-shared:/vault/shared:ro
      - data-loader:/data-loader/
    secrets:
      - source: app_role_id
        target: /run/secrets/app-role_id.txt
      - source: costs
        target: /run/secrets/costs.json
      - source: deploy
        target: /run/secrets/deploy.json
    environment:
      - MODE=${MODE:-prod}
      - MONGO_HOST=${MONGO_HOST-mongodb}
      - NEO4J_HOST=${NEO4J_HOST-memgraph}
      - MONGO_REPLICA_NAME=${MONGO_REPLICA_NAME:-nrp}
      - QDRANT_HOST=${QDRANT_HOST-qdrant}
      - INSTALL_DOCLING=${INSTALL_DOCLING:-false}
    networks:
      - data_net
      - vault_net 


  agentic:
    image: notifyr/agentic:community 
    container_name: agentic
    entrypoint: ["python", "agentic_main.py"]
    build:
      args:
      - INSTALL_DOCLING=${INSTALL_DOCLING:-false}
      context: ./
      dockerfile: ./docker/Dockerfile.agentic
    secrets:
      - source: app_role_id
        target: /run/secrets/app-role_id.txt
      - source: costs
        target: /run/secrets/costs.json
      - source: deploy
        target: /run/secrets/deploy.json
    volumes:
      - vault-shared:/vault/shared
    depends_on:
      - redis
      - vault
      - memcached
      - mongodb
    environment:
      - MODE=${MODE:-prod}
      - MONGO_HOST=${MONGO_HOST-mongodb}
      - MONGO_REPLICA_NAME=${MONGO_REPLICA_NAME:-nrp}
      - QDRANT_HOST=${QDRANT_HOST-qdrant}
      - NEO4J_HOST=${NEO4J_HOST-memgraph}
      - INSTALL_DOCLING=${INSTALL_DOCLING:-false}
    networks:
      - agentic_net
      - data_net
      - vault_net

  worker:
    image: notifyr/celery:community
    command: ["./spawn_celery_worker.sh", "1", "false"]
    secrets:
      - source: app_role_id
        target: /run/secrets/app-role_id.txt
      - source: costs
        target: /run/secrets/costs.json
      - source: deploy
        target: /run/secrets/deploy.json
    volumes:
      - vault-shared:/vault/shared
    restart: always
    environment:
      - RABBITMQ_HOST=${RABBITMQ_HOST-rabbitmq}
      - MONGO_HOST=${MONGO_HOST-mongodb}
      - MONGO_REPLICA_NAME=${MONGO_REPLICA_NAME:-nrp}
      - REDIS_HOST=${REDIS_HOST-redis}
      - BROKER_PROVIDER=${BROKER_PROVIDER:-rabbitmq}
      - MODE=${MODE:-prod}
    networks:
      - data_net
      - vault_net
      - agentic_net

  beat:
    image: notifyr/celery:community
    command: ["make", "redbeat"]
    container_name: beat
    secrets:
      - source: app_role_id
        target: /run/secrets/app-role_id.txt
      - source: deploy
        target: /run/secrets/deploy.json

    volumes:
      - vault-shared:/vault/shared
    labels:
      - com.docker.compose.service=beat
    build:
      context: .
      dockerfile: docker/Dockerfile.celery
    restart: unless-stopped
    environment:
      - REDIS_HOST=${REDIS_HOST-redis}
      - RABBITMQ_HOST=${RABBITMQ_HOST-rabbitmq}
      - BROKER_PROVIDER=${BROKER_PROVIDER:-rabbitmq}
      - MODE=${MODE:-prod}
    networks:
      - data_net
      - vault_net

  # ==========================================
  # SECURITY LAYER
  # ==========================================
  vault:
    image: notifyr/hashicorp-vault:community
    user: vaultuser
    restart: unless-stopped
    container_name: vault
    entrypoint: ["/sbin/tini", "--","/usr/local/bin/vault-entrypoint.sh"]
    environment:
      VAULT_ADDR: "http://vault:8200"
    secrets:
      - source: unseal_tokens
        target: /run/secrets/unseal_key.json
      - source: rotate_token
        target: /run/secrets/rotate-token.txt
    volumes:
      - vault-data:/vault/data
      - vault-shared:/vault/shared
      - vault-audit:/vault/logs
    networks:
      - data_net
      - vault_net

  vault-init:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.vault
    container_name: vault-init
    labels:
      - com.docker.compose.service=vault
    image: notifyr/hashicorp-vault:community
    cap_add: ["IPC_LOCK"]
    restart: on-failure
    environment:
      ROTATE_ROOT: true
      VAULT_ADDR: http://127.0.0.1:8200

      POSTGRES_USER: ${POSTGRES_USER:?Postgres user must be set}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:?Postgres password must be set}

      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME:?Mongo root user must be set}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD:?Mongo root password must be set}

      MINIO_VAULT_PASSWORD: ${MINIO_VAULT_PASSWORD:?Minio admin vault password must be set}

      REDIS_NOTIFYR_PASSWORD: ${REDIS_NOTIFYR_PASSWORD:-vaultpass}

      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER:?Rabbit mq user must be set}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS:?Rabbit mq password must be set}

      REDIS_USER: ${REDIS_USER:?Redis user must be set}
      REDIS_PASSWORD: ${REDIS_PASSWORD:?Redis password must be set}

      NEO4J_USER: ${NEO4J_USER}
      NEO4J_PASSWORD: ${NEO4J_PASSWORD}

      AWS_VAULT_USER: set_user_in_container_start
      AWS_VAULT_PASSWORD: set_password_in_container_start

      MONGO_REPLICA_NAME: ${MONGO_REPLICA_NAME:-nrp}

      POSTGRES_HOST: ${POSTGRES_HOST:-postgres}
      MONGO_HOST: ${MONGO_HOST:-mongodb}
      S3_ENDPOINT: ${S3_ENDPOINT:-minio:9000}
      RABBITMQ_HOST: ${RABBITMQ_HOST:-rabbitmq}
      REDIS_HOST: ${REDIS_HOST:-redis}
      NEO4J_HOST: ${NEO4J_HOST:-memgraph}

    volumes:
      - vault-data:/vault/data
      - vault-shared:/vault/shared
      - vault-audit:/vault/logs
    depends_on:
      - mongodb
      - rabbitmq
      - minio
      - redis
      - memcached
      - postgres
    networks:
      - data_net
      - vault_net

  # ==========================================
  # DATA LAYER
  # ==========================================
  minio:
    image: minio/minio:latest
    container_name: minio
    restart: always
    entrypoint: ["./minio-entrypoint.sh"]
    secrets: 
      - source: minio_root
        target: /run/secrets/config.json
    build:
      args:
        - ASSETS_STORAGE_LIMIT=${ASSETS_STORAGE_LIMIT:-500MB}
        - STATIC_STORAGE_LIMIT=${STATIC_STORAGE_LIMIT:-500MB}
        - S3_MODE=dev
      context: .
      dockerfile: docker/Dockerfile.minio
    volumes:
      - minio-data:/data
    environment:
      - MINIO_VAULT_PASSWORD=${MINIO_VAULT_PASSWORD:?Minio admin password must set}
      - MINIO_STS_ENABLE=${MINIO_STS_ENABLE:-false}
    depends_on:
      - redis
    networks:
      - data_net

  memcached:
    image: memcached:latest
    container_name: memcached
    command: memcached -m 64 -vv
    restart: unless-stopped
    networks:
      - data_net

  rabbitmq:
    image: rabbitmq:3.13-management-alpine
    container_name: rabbitmq
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER:?Rabbit mq default user must be set}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS:?Rabbit mq default password must be set}
      RABBITMQ_DEFAULT_VHOST: notifyr
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - data_net

  redis:
    image: redis:latest
    container_name: redis
    restart: always
    entrypoint: ["/entrypoint.sh"]
    environment:
      - CELERY_EXTERNAL=${CELERY_EXTERNAL:-false}
      - REDIS_USER=${REDIS_USER:?Redis user must be set}
      - REDIS_PASSWORD=${REDIS_PASSWORD:?Redis password must be set}
      - REDIS_NOTIFYR_PASSWORD=${REDIS_NOTIFYR_PASSWORD:-vaultpass}
      - DEFAULT_USER=on
      - SKIP_FIX_PERMS=1
    volumes:
      - redis-data:/data
      - ./scripts/redis-entrypoint.sh:/entrypoint.sh
      - ./scripts/ncs-lib.lua:/functions/ncs-lib.lua
    networks:
      - data_net

  mongodb:
    image: mongo:8.0-noble
    container_name: mongodb
    restart: always
    command:
       - --oplogSize=512
       - --wiredTigerCacheSizeGB=1
    entrypoint: ["mongo-entrypoint.sh"]
    secrets:
      - source: mongo_keyfile
        target: /run/secrets/mongo-keyfile.txt
    volumes:
      - mongo-data:/data/db
      - ./scripts/mongo-entrypoint.sh:/usr/local/bin/mongo-entrypoint.sh
      - ./scripts/mongo-init.sh:/docker-entrypoint-initdb.d/mongo-init.sh
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME:?Mongo root user must be set}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD:?Mongo root password must be set}
      MONGO_INITDB_DATABASE: notifyr
      MONGO_REPLICA_NAME: ${MONGO_REPLICA_NAME:-nrp}
    networks:
      - data_net

  postgres:
    build:
      context: .
      dockerfile: docker/Dockerfile.postgres
    image: postgres:15
    container_name: postgres
    restart: always
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER:?Postgres user must be set}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:?Postgres password must be set}
      POSTGRES_DB: notifyr
    networks:
      - data_net
  
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    networks:
      - data_net
    volumes:
      - qdrant_storage:/qdrant/storage
    environment:
      QDRANT__STORAGE__PATH: /qdrant/storage
      QDRANT__STORAGE__USE_MMAP: "true"
      QDRANT__STORAGE__PERSISTENT: "true"
      QDRANT__HNSW__M: 4
      QDRANT__HNSW__EF_CONSTRUCTION: 32
      QDRANT__HNSW__EF: 32
      QDRANT__CACHE__MAX_SIZE_MB: 128

  memgraph:
    image: memgraph/memgraph
    container_name: memgraph
    restart: unless-stopped
    networks:
      - data_net
    volumes:
      - memgraph_data:/var/lib/memgraph

volumes:
  qdrant_storage:
    driver: local
  vault-data: {}
  vault-shared: {}
  vault-audit: {}
  mongo-data:
    driver: local
  postgres-data:
    driver: local
  redis-data:
    driver: local
  minio-data: {}
  rabbitmq_data:
  memgraph_data:
  data-loader:

secrets:
  app_role_id:
    file: ./.secrets/app-role_id.txt
  minio_root:
    file: ./.secrets/minio-root.json
  dashboard_api_key:
    file: ./.secrets/dashboard-api-key.txt
  dmz_api_key:
    file: ./.secrets/dmz-api-key.txt
  balancer_exchange_token:
    file: ./.secrets/balancer-exchange-token.txt
  dmz_role_id:
    file: ./.secrets/dmz-role_id.txt
  rotate_token:
    file: ./.secrets/rotate-token.txt
  unseal_tokens:
    file: ./.secrets/unseal_key.json
  costs:
    file: ./.notifyr/costs.json
  api_key:
    file: ./.secrets/api_key.txt
  credit_token:
    file: ./.secrets/credit_token.txt
  deploy:
    file: ./.notifyr/deploy.json
  mongo_keyfile:
    file: ./.secrets/mongo-keyfile.txt
  

networks:
  data_net:
    internal: true
    driver: bridge

  vault_net:
    driver: bridge

  celery_net:
    internal: false
    driver: bridge
  
  agentic_net:
    internal: false
    driver: bridge
    
  app_net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.25.0.0/16
          gateway: 172.25.0.1

  lb_net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.26.0.0/16
          gateway: 172.26.0.1

  edge_net:
    driver: bridge
