services:

  flower:
    image: notifyr:flower
    command: ["make", "flower"]
    #container_name: ntfyr-flower
    # labels:
    #   - com.docker.compose.servie=flower
    build:
      context: .
      dockerfile: docker/Dockerfile.celery
    restart: always
    env_file:
      - .env
    depends_on:
      - redis
    ports:
      - "5555:5555"

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    hostname: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: test@test.com
      PGADMIN_DEFAULT_PASSWORD: test
    ports:
      - "7070:7070"
    depends_on:
      - postgres

  redis-commander:
    container_name: redis-commander
    hostname: redis-commander
    image: rediscommander/redis-commander:latest
    restart: always
    depends_on:
      - redis
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - 6060:6060